@charset "utf-8";
/*index*/
html,body {
	color:#000;
	margin:0;
}
html {
	overflow:auto;
}
body {overflow: hidden;
	min-width:100%;
    font-family: 'Noto Sans JP', sans-serif;

}
#container {
	margin:0;
}
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
figure img {width:100%;height:auto;vertical-align:bottom}
.pc-only {display:inline}
.sp-only {display:none}

.img-over {-webkit-transition: 0.3s ease-in-out;-moz-transition: 0.3s ease-in-out;-o-transition: 0.3s ease-in-out;transition: 0.3s ease-in-out;}
.img-over:hover {opacity: 0.6;filter: alpha(opacity=60);-moz-opacity: 0.6;-webkit-transition: 0.3s ease-in-out;-moz-transition: 0.3s ease-in-out;-o-transition: 0.3s ease-in-out;transition: 0.3s ease-in-out;}

#loading{position:absolute;left:50%;top:50%;margin-top:-25px;margin-left:-25px;z-index:1000;width:50px;}
span.loading07 {position:relative;display:inline-block;width:50px;height:50px;vertical-align:middle;-webkit-animation:animation07 2s linear infinite;animation: animation07 2s linear infinite;}
span.loading07 {position:relative;display:inline-block;width:50px;height:50px;vertical-align:middle;-webkit-animation: animation07 2s linear infinite;animation: animation07 2s linear infinite;}
span.loading07 span {position:absolute;display:inline-block;left:0;top:0;width:100%;height:100%;}
span.loading07:before, span.loading07:after, span.loading07 span:before, span.loading07 span:after {position: absolute;display: inline-block;content: " ";width:23px;
  height: 23px;}
span.loading07:before {left:0;top:0;background-image: -webkit-gradient(radial, 25 25, 0, 25 25, 25, from(transparent), color-stop(0.81, transparent), color-stop(0.82,#ccc), color-stop(0.98, #ccc), color-stop(0.99, transparent), to(transparent) );background-image: -webkit-radial-gradient(25px 25px, 25px 25px, transparent, transparent 81%, #ccc 82%, #ccc 98%, transparent 99%, transparent);background-image: radial-gradient(25px 25px at 25px 25px, transparent, transparent 81%, #ccc 82%, #ccc 98%, transparent);}
span.loading07:after {right:0;bottom:0;background-image:-webkit-gradient(radial, -2 -2, 0, -2 -2, 25, from(transparent), color-stop(0.81, transparent), color-stop(0.82,#ccc), color-stop(0.98, #ccc), color-stop(0.99, transparent), to(transparent) );background-image: -webkit-radial-gradient(-2px -2px, 25px 25px, transparent, transparent 81%, #ccc 82%, #ccc 98%, transparent 99%, transparent);background-image: radial-gradient(25px 25px at -2px -2px, transparent, transparent 81%, #ccc 82%, #ccc 98%, transparent);}
span.loading07 span:before {left:0;bottom:0;background-image: -webkit-gradient(radial, 25 -2, 0, 25 -2, 25, from(transparent), color-stop(0.81, transparent), color-stop(0.82,#ccc), color-stop(0.98, #ccc), color-stop(0.99, transparent), to(transparent) );background-image: -webkit-radial-gradient(25px -2px, 25px 25px, transparent, transparent 81%, #ccc 82%, #ccc 98%, transparent 99%, transparent);background-image: radial-gradient(25px 25px at 25px -2px, transparent, transparent 81%, #ccc 82%, #ccc 98%, transparent);}
span.loading07 span:after {right:0;top:0;background-image:-webkit-gradient(radial, -2 25, 0, -2 25, 25, from(transparent), color-stop(0.81, transparent), color-stop(0.82,#ccc), color-stop(0.98, #ccc), color-stop(0.99, transparent), to(transparent) );background-image: -webkit-radial-gradient(-2px 25px, 25px 25px, transparent, transparent 81%, #ccc 82%, #ccc 98%, transparent 99%, transparent);background-image: radial-gradient(25px 25px at -2px 25px, transparent, transparent 81%, #ccc 82%, #ccc 98%, transparent);}

@-webkit-keyframes animation07 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes animation07 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*menu*/
body.index #second-h1{
	display:none;
}
#second-h1 a.sp{
	display:none;
}
.menu-btn{
	display:none;
}
#menu{
	background:#000;
	margin:0 auto 0;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	transition: .3s;
}
#menu nav#nav {
	width:100%;
	margin:0 auto;
	position:relative;
	overflow:hidden;
}
#menu nav#nav ul {
	text-align: center;
	display: table;
	margin:5px auto 5px;
}
#menu nav#nav ul li {
	display: inline-block;
	margin:0 25px 0 0;
	font-size:16px;
	line-height:26px;
	vertical-align: middle;
}
#menu nav#nav ul li i {
	color:#e16714;
	font-weight:bold;
}
#menu nav#nav ul li.facebook i,#menu nav#nav ul li.twitter i,#menu nav#nav ul li.instagram i {
	color:#fff;
	font-weight:normal;
}
#menu nav#nav ul li small {
	font-size:8px;
}
#menu nav#nav ul li a {
	color:#fff;
	vertical-align: middle;
}
#menu nav#nav ul li.icon a i {
	color:#e16714;
}
#menu nav#nav ul li a:hover {
	text-decoration:none;
}
#menu nav#nav ul li.txt {
	margin-top:3px;
}
#menu nav#nav ul li.txt a {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
}
#menu nav#nav ul li.txt a:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	bottom: 0;
	background: #e16714;
	height: 1px;
	-webkit-transform: translateY(3px);
	transform: translateY(3px);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
#menu nav#nav ul li.txt a:hover:before, 
#menu nav#nav ul li.txt a:focus:before, 
#menu nav#nav ul li.txt a:active:before {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
#menu nav#nav ul li.txt a i {
	font-size:10px;
	line-height:26px;
	margin:0 5px 0 0;
	vertical-align: middle;
}
#menu nav#nav ul li.icon {
	margin:0 10px 0 0;
	font-size:26px;
	line-height:26px;
}
#menu nav#nav ul li.facebook {
	margin-left:0;
}
#menu nav#nav ul li.icon a span.sp{
	display:none;
}
#menu nav#nav ul.mini {
	margin-top:0;
	margin-bottom:10px;
}
#menu nav#nav ul.mini li {
	margin:0 5px 0 0;
	font-size:12px;
	line-height:26px;
	background: #ff281e;
	border-radius: 5px;/* CSS3草案 */
	-webkit-border-radius: 5px;/* Safari,Google Chrome用 */
	-moz-border-radius: 5px;/* Firefox用 */
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all  0.3s ease;
}
#menu nav#nav ul.mini li:hover {
	background: #80140f;
}
#menu nav#nav ul.mini li a {
	color:#e16714;
	padding:0 10px;
}

/*#foot-sp-menu*/
#foot-sp-menu{
	display:none;
}

/*#body*/
#container{
	width:100%;
	height:auto;
}
#body #sp-index{
	display:none;
}
#body .float{
	width:760px;
	height:auto;
	margin:0 auto;
}
@media screen and (max-width: 759px) {
#body .float{
	width:auto;
}
}
#body .float img{
	width:100%;
	height:auto;
	vertical-align:bottom;
}
#body article#index-main{
	margin:0;
	padding:0;
	width:100%;
	opacity:0;
}
#body article#index-main section.pc-index{
	margin:0;
	padding:0 0 0 0;
	height:auto;
	position:relative;
}
#body article#index-main section.pc-index section.title{
	margin:40px auto 0;
	width: 100%;
	position:relative;
	overflow: hidden;
}

@media screen and (max-width: 1599px) {
#body article#index-main section.pc-index section.title{
	width: auto;
}
}

#body article#index-main section.pc-index section.title h1{
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	vertical-align: bottom;
	z-index:0;
}
#body article#index-main section.pc-index section.title div{
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	vertical-align: bottom;
	z-index:1;
}



#body article#index-main section.release{
	margin:0 auto 0;
	padding:25px 0 50px;
	background:#e16714;
	width:100%;
	opacity:0;
}
#body article#index-main section.release h2{
	font-size:30px;
	font-weight: 800;
	text-align:center;
	line-height:1.4;
	color:#fff;
	margin:10px auto;
	font-family:sans-serif;
}
#body article#index-main section.release h2 small{
	font-size:14px;
}
#body article#index-main section.release .credit01{
	text-align:center;
	margin:10px auto 20px;
	color:#fff;
	font-weight:normal;
}

#body article#index-main section.release p.txt-credit01,#body #index-about #credit p.txt-credit01{
	font-size:24px;
	line-height:1.8;
	font-weight:bold;
	text-align:center;
}

#body article#index-main section.release p.txt-credit02,#body #index-about #credit p.txt-credit02{
	font-size:18px;
	line-height:1.6;
	font-weight:bold;
	margin-bottom:5px;
	text-align:center;
}

#body article#index-main section.release p.txt-credit03,#body #index-about #credit p.txt-credit03{
	font-size:14px;
	line-height:1.5;
	font-weight:normal;
	text-align:center;
}

#body article#index-main section.release p.txt-credit04,#body #index-about #credit p.txt-credit04{
	font-size:12px;
	line-height:1.5;
	font-weight:normal;
	margin:10px 0 20px;
	text-align:center;
}




/*#socialmedia*/
#socialmedia{
	margin:5px auto 0;
	padding:10px 0;
}
#socialmedia ul{
	width:auto;
	text-align:center;
}
#socialmedia ul li{
	display: inline-block;
	margin:0 5px 0;
}
#socialmedia ul li span{
	vertical-align: baseline !important;
}
.fb-like iframe {
    max-width: none !important;
}

/*#socialmedia ul.share-btn*/
#socialmedia ul.share-btn{
	margin:0 auto;
	width:205px;
	height:45px;
}
#socialmedia ul.share-btn li{
	display:block;
	margin:0 5px 0 0;
	float:left;
	text-align:center;
	font-size:10px;
	width:100px;
	height:40px;
	line-height:1;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
#socialmedia ul.share-btn li a{
	color:#FFF;
	text-decoration:none;
}



#socialmedia ul.share-btn li a:hover{
	text-decoration:none;
}
#socialmedia ul.share-btn li i{
	display:block;
	font-size:18px;
	font-style:normal;
	margin:6px 0 0 0;
}
#socialmedia ul.share-btn li.twitter{
	background:#45B0E3;
}
#socialmedia ul.share-btn li.twitter:hover {
	background-color:#7DD5FF;
}
#socialmedia ul.share-btn li.facebook{
	background:#39599F;
	margin-right:0;
}
#socialmedia ul.share-btn li.facebook:hover {
	background-color:#447BEE;
}
#socialmedia ul.share-btn li.line{
	display:none;
	background:#12C712;
	margin-right:0;
}
#socialmedia ul.share-btn li.line:hover {
	background-color:#4BF84B;
}
#socialmedia ul.share-btn li,
#socialmedia ul.share-btn li::before,
#socialmedia ul.share-btn li::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
#socialmedia ul.buttons{
	margin:5px auto 0;
}
#socialmedia ul.buttons li iframe{
	height:20px !important;
}

.bnr-major {margin:40px auto 20px;width:300px;}
@media screen and (max-width:299px) {
.bnr-major {margin:20px 15px;width:auto;}
}


/*.banner*/
.banner{
	margin:25px auto ;
	text-align:center;
}
.banner img{
	width: 24%;
	max-width: 600px;
	margin: 0 0.1% 20px;
}
.banner img.mini{
	max-width:350px;
}
.banner img.big{
	width:96.6%;
	max-width:550px;
}

.banner a:hover img{
	filter:alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

/*#index-about*/
#body #index-about {
	margin:0;
	background:#fff;
	color:#fff;
	opacity:0;
}


/*#intro*/
#body #index-about #intro {
	margin:0;
	padding-bottom:60px;
	color:#000;
	background:#fff;
}

#body #index-about #intro figure {
	width:100%;
	margin:0 auto 30px;
}

#body #index-about #intro .in{
    margin-top:-50px;
    padding:30px 0 30px;
	width:960px;
	margin:auto;
	position:relative;
}
@media screen and (max-width: 959px) {
#body #index-about #intro .in{
	width:auto;
	padding:10px 20px;
}
}
#body #index-about #intro h2{
	text-align:center;
	font-size:1.4em;
	color:#e16714;
	margin:0 0 15px;
}

#body #index-about #intro .txt{
	margin:0 auto;
}
#body #index-about #intro .txt .inin{
	font-size:1em;
	padding:0 0 60px;
}


#body #index-about #intro .txt .in p{
	margin:0 0 1em 0;
}



/*#story*/
#body #index-about #story{
	margin:0;
	padding:0;
	position:relative;
}

#body #index-about #story figure{
    position:absolute;
	z-index:0;
	top:0;
	left:0;
	width:100%;
}

#body #index-about #story .txt{
    position:absolute;
	z-index:0;
	top:0;
	left:0;
	width:50%;
	height:100%;
	background:url("../img/bg_black.png") repeat;
}


#body #index-about #story .txt .txt-in{
    display: table;
    width: 100%;
}

#body #index-about #story .txt .txt-in .txt-in-in{ 
    display: table-cell;
    vertical-align: middle;
	padding:0 60px 0 40%;
}
@media screen and (max-width: 1599px) {
#body #index-about #story .txt .txt-in .txt-in-in{
	padding:0 60px 0 20%;
}
}
@media screen and (max-width: 1199px) {
#body #index-about #story .txt .txt-in .txt-in-in{
	padding:0 30px 0 30px;
}
}

#body #index-about #story .txt .txt-in .txt-in-in h2{
	font-size:1.4em;
	color:#e16714;
	margin:0 0 15px;
}



/*#STAFF*/
#body #index-about #staff{
	padding:60px 0;
	color:#000;
	text-align:center;
}

#body #index-about #staff h2{
	font-size:2em;
	color:#30563b;
	margin-bottom:10px;
	text-align:center;
}
#body #index-about #staff h2 span.txt-s{
	font-size:.5em;
	margin-left:5px;
}

#body #index-about #staff h3{
	font-size:1.4em;
	color:#e16714;
	margin:0 15px 30px;
	text-align:center;
}


#body #index-about #staff .img-staff-main{
    width:900px;
    margin:0 auto 60px;
}

@media screen and (max-width: 899px) {
#body #index-about #staff .img-staff-main{
    width:auto;
    margin:0 30px 60px;
}
}

#body #index-about #staff .staff-box {
    padding-bottom:40px;
	width:900px;
	margin:auto;
	text-align:left;
}

@media screen and (max-width: 899px) {
#body #index-about #staff .staff-box {
	width:auto;
	margin:0 30px;
	padding-bottom:30px;
}
}

#body #index-about #staff .staff-box .staff-box-in {
    letter-spacing:-.4em;
	margin-bottom:10px;
}

#body #index-about #staff .staff-box .staff-box-in figure {
    width:25%;
	margin-right:4%;
	display:inline-block;/display:inline;/zoom:1;vertical-align:bottom;
}

#body #index-about #staff .staff-box .staff-box-in h4 {
    width:70%;
	letter-spacing:normal;
	font-size:2.2em;
	line-height:0.9;
	display:inline-block;/display:inline;/zoom:1;vertical-align:bottom;
}

#body #index-about #staff .staff-box .staff-box-in h4 span.txt-furigana {
	font-size:0.5em;
	font-weight:normal;
	margin-left:0.5em;
}

#body #index-about #staff .staff-box .staff-box-in h4 span.txt-katagaki {
	font-size:0.5em;
	color:#30563b;
}




/*CAST*/
#body #index-about #cast {
	padding: 70px 0;

	margin:auto;
}

#body #index-about #cast .img-cast-main {
	width:100%;
	margin:0 auto 30px;	
}

#body #index-about #cast h2{
	font-size:2em;
	color:#30563b;
	margin-bottom:30px;
	text-align:center;
}

#body #index-about #cast ul {
	letter-spacing:-.4em;
	width:1400px;
	margin:auto;
}

#body #index-about #cast ul li {
	width:30%;
	display:inline-block;
	/display:inline;
	/zoom:1;
	vertical-align:top;
	margin:1%;
	letter-spacing: normal;
	color:#000;
}

@media screen and (max-width:1399px) {
#body #index-about #cast ul {
	width:auto;
	margin:0 15px;
}
}

@media screen and (max-width:959px) {
#body #index-about #cast ul li {
	width:47%;
	margin:1%;

}
}

#body #index-about #cast ul li h3 {
	font-size:1.6em;
	margin:15px 0;
	line-height:1;
}

#body #index-about #cast ul li h3 span.txt-furigana {
	font-size:0.65em;
	font-weight:normal;
	line-height:0.8em;
}

#body #index-about #cast ul li h3 span.txt-yakumei {
	font-size:0.7em;
	line-height:0.8em;
	color:#e16714;
	font-weight:normal;
}


/*PHOTO*/

#body #index-about .photo ul {
	letter-spacing:-.4em;
	background:#000;
}

#body #index-about .photo ul li {
	width:33.333333%;
	display:inline-block;
	/display:inline;
	/zoom:1;
	vertical-align:bottom;
}

#body #index-about .photo ul li img {
	width:100%;
	height:auto;
	vertical-align:bottom;
}

@media screen and (max-width: 680px) {
#body #index-about .photo ul li {
	width:50%;
}
}

#body #index-about .photo ul li img {
	width:100%;
	display: block;
	margin: 0 auto;
	padding: 0;
}



/*#comments*/
#body #index-about #comments{
	background:#0c3518;
	color:#fff;
	text-align:center;
	width:100%;
	margin:auto;
	padding:70px 0;

}

#body #index-about #comments h2{
	font-size:2em;
	color:#fff;
	margin-bottom:30px;
	text-align:center;
}

#body #index-about #comments div{
	font-size:1em;
	margin-bottom:40px;
	text-align:center;
	font-weight:normal;
	line-height:1.2em;
}


#body #index-about #comments .comment{
	margin:0 auto 60px;
	padding:40px 0 20px;
	width:1000px;
	background:#fff;
	position:relative;
	color:#000;
}



#body #index-about #comments .comment .in{
	padding:0 70px;
}


@media screen and (max-width:999px) {
#body #index-about #comments .comment{
	margin:0 30px 50px;
	width:auto;
	padding:40px 0 10px;
}
}


#body #index-about #comments .comment h2{
	margin:0 0 3px 0;
	font-size:2.4em;
	font-family: 'Noto Serif JP', serif;
	text-align:center;
	vertical-align: middle;
	line-height: 1.6;
	color:#000;
	margin-bottom:15px;
	letter-spacing: .1em;
}

#body #index-about #comments .comment h2.comment-s {
	font-size:1.8em;
}


#body #index-about #comments .comment h3{
	margin:0;
	font-size:1em;
	font-family: 'Noto Serif JP', serif;
	font-weight: normal;
	text-align:center;
	line-height: 1.4;
	color:#e16714;
}


#body #index-about #comments p{
	margin:0 0 15px;
	font-size:1.2em;
	font-size:1em;
}

#body #index-about #comments p strong{
	font-size:1.4em;
	font-weight:bold;
}





/*#index-about*/
/*.trailer*/
#body #index-about #trailer{
	text-align:center;
	padding:100px 0 80px;
	background:#fff;
}

#body #index-about #trailer h2{
	font-size:2em;
	color:#30563b;
	margin-bottom:30px;
	text-align:center;
}

#body #index-about #trailer .movie-wrap {
	margin:0 auto 50px;
	width:1000px;
}

#body #index-about #trailer .movie-wrap div {
	width:100%;
	position:relative;
	padding-top:56.25%;
}

#body #index-about #trailer .movie-wrap div iframe{
  position:absolute;
  top:0;
  right:0;
  width:100%;
  height:100%;
}

@media screen and (max-width:999px) {
#body #index-about #trailer .movie-wrap {
	margin:0 30px 80px;
	width:auto;
}
}



/*#index-about*/
/*.credit*/
#body #index-about #credit{
	background: #000000;
	padding:60px 15px 20px;
	text-align:center;
}





/*uplink*/
#uplink{
	background:#000000;
	margin:0;
	padding:15px 0 60px;
	width:100%;
}
body.index #uplink{
	margin:0;
}
#uplink h1{
	margin:0 auto;
	height:auto;
	text-align:center;
}
#uplink h1 img{
	width:50px;
	height:auto;
}

#uplink ul.footer-logo{
	margin:10px auto 20px;
	width:600px;
	text-align:center;
}

@media screen and (max-width:599px) {
#uplink ul.footer-logo{
	margin:10px 15px 20px;
	width:auto;
}
}
#uplink ul.footer-logo li{
	display:inline-block;
	/display:inline;
	/zoom:1;
	margin:0 20px 0 0;
	vertical-align: middle;
	width:120px;
}
#uplink ul.footer-logo li:first-child{
	margin-right:35px;
	width:50px;
}
#uplink ul.footer-logo li:last-child{
	margin-right:0;
	width:160px;
}



#uplink ul.footer-sns{
	margin:10px auto 0;
	width:auto;
	text-align:center;
}
#uplink ul.footer-sns li{
	display:inline-block;
	/display:inline;
	/zoom:1;
	margin:0 10px 0 0;
}
#uplink ul.footer-sns li.last{
	margin-right:0;
}
#uplink ul.footer-sns li a{
	font-size:30px;
	color:#FFF;
}

/*second*/
body.second #container #menu {
	margin:0 auto;
	height:auto;
}
body.second #container #menu #second-h1 {
	margin: 0 auto;
	padding:0 0 0 0 ;
	width:auto;
	text-align:center;
}


/*second theater*/
body.second.theater #container {
	background: #fff;
	background-size:cover;
}
#body.second.theater .page{
	margin:0 auto;
	padding:60px 0 50px;
	width:1000px;
	height:auto;
}

@media screen and (max-width:999px) {
#body.second.theater .page{
	padding:30px 15px 50px;
	width:auto;
}
}

#body.second.theater .page h1{
	font-size:2em;
	padding-top:130px;
	text-align:center;
	color:#000;
	
}
#body.second.theater .page section.contents{
	margin:0;
	padding:0 0 0 0;
	height:100%;
}
#body.second.theater .page .note{
	margin:0 auto 10px;
	text-align:center;
	color: #000;
}
#body.second.theater .page .note h2{
	text-align: center;
	font-size: 24px;
}
#body.second.theater .page .banner{
	margin:10px auto 10px;
	text-align:center;
}
#body.second.theater .page .banner a img{
	width:100%;
	height: auto;
}

#body.second.theater .page header nav{
	margin:20px 0 30px;
}
#body.second.theater .page header nav ul.theater-list{
	margin:0;
}
#body.second.theater .page header nav ul.theater-list li{
	background:#e16714;
	float:left;
	margin:0 2% 0 0;
	width:12.57142857142857%;
	height:45px;
	text-align:center;
	line-height:45px;
    border-radius: 5px;        /* CSS3草案 */
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;   /* Firefox用 */
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	opacity: 1;
}
#body.second.theater .page header nav ul.theater-list li:hover{
	background:#30563b;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
#body.second.theater .page header nav ul.theater-list li.last{
	margin:0;
}
#body.second.theater .page header nav ul.theater-list li a{
	display:block;
	width:100%;
	height:100%;
	color:#FFF;
	font-size:14px;
}
#body.second.theater .page header nav ul.theater-list li a:hover{
	text-decoration:none;
	color:#FFF;
}
#body.second.theater .page section.contents{
	margin:0;
	padding:0;
	color:#000;
}
#body.second.theater .page section.contents a.target{
    margin-top:-133px;
    padding-top:133px;
	display: inline-block; /* required for webkit browsers */
	vertical-align: top;
}
#body.second.theater .page section.contents .ken-box{
	background:#FFF;
	margin:0 0 30px;
	border-bottom:#30563b solid 2px;
	border-top:#30563b solid 2px;
}
#body.second.theater .page section.contents .ken-box .ken{
	background:#30563b;
	width:20%;
	float:left;
	font-weight:800;
	line-height:50px;
	color:#FFF;
}
#body.second.theater .page section.contents .ken-box .ken h2{
	color:#FFF;
	font-size:20px;
	font-weight:800;
	padding:10px;
}
#body.second.theater .page section.contents .ken-box .theaters{
	width:80%;
	float:right;
}
#body.second.theater .page section.contents .ken-box .theaters .theater-box{
	border-bottom:#30563b solid 2px;
}
#body.second.theater .page section.contents .ken-box .theaters .theater-box a{
	color:#e16714;
}
#body.second.theater .page section.contents .ken-box .theaters .theater-box.last{
	border-bottom:none;
}
#body.second.theater .page section.contents .ken-box .theaters .theater-box .theater-name{
	float:left;
	width:40%;
}
#body.second.theater .page section.contents .ken-box .theaters .theater-box .theater-name h4{
	color:#000;
	font-size:14px;
	line-height:1.4;
	margin:10px 10px 0;
}
#body.second.theater .page section.contents .ken-box .theaters .theater-box .theater-name h3{
	font-size:20px;
	line-height:1.4;
	margin:0 10px;
}
#body.second.theater .page section.contents .ken-box .theaters .theater-box .txt{
	float:right;
	width:60%;
	font-size:14px;
	margin:0;
	padding:0 0 0 0;
}
#body.second.theater .page section.contents .ken-box .theaters .theater-box .txt p{
	margin:10px;
}
#body.second.theater .page section.contents .ken-box .theaters .theater-box .txt p strong{
	font-size:16px;
}

/*BACKTOTOP*/
#backtotop{bottom:25px;height:45px;position:fixed!important;right:25px;width:45px;text-indent:-9999px;z-index:10000}
#backtotop a{background:url(../img/btn_backtotop.png) no-repeat scroll 0 0 transparent;display:block;height:45px;width:45px}
#backtotop a:hover{background:url(../img/btn_backtotop.png) no-repeat scroll 0 -45px transparent}

