					<MTCategories show_empty="0">
					<a name="<$MTCategoryBasename$>" id="<$MTCategoryBasename$>" class="target"></a>
					<!-- ken-box_str -->
					<section class="ken-box clearfix">
						
						<div class="ken"><h2><$MTCategoryLabel remove_html="1"$></h2></div>
						<!-- theater-box_str -->
						<div class="theaters">
					
							<MTEntries>
							<!-- box_str -->
							<a name="<$MTEntryID$>" id="<$MTEntryID$>"></a>
							<section class="theater-box clearfix<mt:If name="__last__"> last</mt:If>">
								<div class="theater-name">
									<h4><$MTEntryKeywords$></h4>
									<h3><$MTEntryTitle $></h3>
								</div>
								<div class="txt">
									<$MTEntryBody$>
								</div>
							</section>
							<!-- box_end -->
							</MTEntries>
							
						</div>
						<!-- theater-box_end -->
					</section>
					<!-- ken-box_end -->
					</MTCategories>