//
// bodyやaタグなどに直接つけるスタイルはここに記載
//

body {
  @include f_default;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.theme-main {
    background: $c_bg;
  }
  &.theme-shibuya {
    background: $c_bg_shibuya;
  }
  &.theme-joji {
    background: $c_bg_joji;
  }
  &.is-fixed {
    position: fixed;
  }
}

a {
  transition: opacity .225s cubic-bezier(.8, 0, .3, 1); // 早めの速度でサイト共通のイージング値
  text-decoration: none;
}
a:hover {
  opacity: .7;
  @include mqSP {
    opacity: 1;
  }
}