.l-header {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $padding_wrap;
  .theme-main & {
    background: $c_bg_light;
  }
  .theme-shibuya & {
    background: $c_bg_shibuya;
  }
  .theme-joji & {
    background: $c_bg_joji;
  }
}
.header-inner {
  position: relative;
  width: 100%;
  height: 60px;
  .theme-main & {
    background: $c_header_bg;
  }
  .theme-shibuya & {
    background: $c_header_bg_shibuya;
  }
  .theme-joji & {
    background: $c_header_bg_joji;
  }
}
.header-logo {
  a {
    display: flex;
    align-items: center;
    span {
      width: 60px;
      .theme-main & {
        background: $c_bg_light;
      }
      .theme-shibuya & {
        background: $c_bg_shibuya;
      }
      .theme-joji & {
        background: $c_bg_joji;
      }
    }
    img {
      width: 40px;
      height: 60px;
    }
    &:after {
      content: "";
      display: inline-block;
      height: 20px;
      padding: 0 0 0 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto 20px;
      .theme-main & {
        background-image: url(../img/logo-text.png);
        width: 75px;
      }
      .theme-shibuya & {
        background-image: url(../img/logo-shibuya.png);
        width: 120px;
      }
      .theme-joji & {
        background-image: url(../img/logo-joji.png);
        width: 140px;
      }

    }
  }
}

.header-nav_trigger {
  position: absolute;
  right: 0;
  top: 0;
  width: 54px;
  height: 100%;
  a {
    @include texthidden;
    display: block;
    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px auto;
      .theme-main & {
        background-image: url(../img/icon-menu-on.png);
      }
      .theme-shibuya & {
        background-image: url(../img/icon-menu-on_shibuya.png);
      }
      .theme-joji & {
        background-image: url(../img/icon-menu-on_joji.png);
      }
    }
  }
}


