.js-headerWrap {
  width: 100%;
  z-index: 9999;
  &.is-scroll {
    position: fixed;
    top: -160px;
    left: 0;
    transition: top .7s ease;
  }
  &.is-fixed {
    top: 0;
    transition: all .7s ease;
  }
  &.is-open {
    @include mqSP {
      height: 100% !important;
    }
  }
}


.l-header {
  width: 100%;
  margin: 0 auto;
  padding: 0 $padding_wrap;
  box-sizing: border-box;
  z-index: 9999;
  overflow: hidden;
  transition: all .7s ease;
  @include containerTB;
  .frontpage & {
    transition: none;
    height: auto;
  }
  .is-scroll & {
    transition: top .7s ease;
  }
  .is-fixed & {
    transition: all .7s ease;
  }
  // &.is-open {
  //   @include mqSP {
  //     height: 100% !important;
  //   }
  // }

  @include theme_bg();
  @include archive_bg();
}

.header-inner {
  position: relative;
  width: 100%;
  height: 60px;
  .theme-main & {
    background: $c_header_bg;
  }
  .theme-shibuya & {
    background: $c_header_bg_shibuya;
  }
  .theme-joji & {
    background: $c_header_bg_joji;
  }

}
.header-logo {
  a {
    display: flex;
    align-items: center;
    span {
      width: 60px;
      @include theme_bg();
      @include archive_bg();
    }
    img {
      width: 40px;
      height: 60px;
    }
    &:after {
      content: "";
      display: inline-block;
      height: 20px;
      padding: 0 0 0 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto 20px;
      .theme-main & {
        background-image: url(../img/logo-text.png);
        width: 75px;
      }
      .theme-shibuya & {
        background-image: url(../img/logo-shibuya.png);
        width: 120px;
      }
      .theme-joji & {
        background-image: url(../img/logo-joji.png);
        width: 140px;
      }
    }
  }
}

.header-nav_trigger {
  position: absolute;
  right: 0;
  top: 0;
  width: 54px;
  height: 100%;
  a {
    @include texthidden;
    display: block;
    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px auto;
      .theme-main & {
        background-image: url(../img/icon-menu-off.png);
      }
      .theme-shibuya & {
        background-image: url(../img/icon-menu-off_shibuya.png);
      }
      .theme-joji & {
        background-image: url(../img/icon-menu-off_joji.png);
      }
    }
  }
  .frontpage & {
    a {
      pointer-events: none;
    }
  }
  .is-scroll & {
    a {
      pointer-events: initial;
    }
  }
  .is-open & {
    a {
      &:before {
        .theme-main & {
          background-image: url(../img/icon-menu-on.png);
        }
        .theme-shibuya & {
          background-image: url(../img/icon-menu-on_shibuya.png);
        }
        .theme-joji & {
          background-image: url(../img/icon-menu-on_joji.png);
        }

      }
    }
  }
}


.l-header_sub {
  padding: 0 15px;
  overflow: hidden;
  transition: all .7s ease;
  box-sizing: border-box;
  @include archive_bg();
}
.header_sub-inner {
  position: relative;
}
.header_sub-heading {
  width: 100%;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  margin: 0 auto;
  padding: 30px 0;
  @include containerTB;
  span {
    margin: 5px 0 0;
    display: block;
    font-size: 12px;
    @include f_sg_bold;
  }
}
.header-nav_sub_trigger {
  position: absolute;
  right: 25px;
  top: 0;
  width: 15px;
  height: 100%;
  @include texthidden;
  a {
    display: block;
    width: 15px;
    height: 100%;
    background-image: url(../img/icon-submenu-off.png);
    background-size: 5px auto;
    background-repeat: no-repeat;
    background-position: right center;
  }
  .is-open & {
    a {
      background-image: url(../img/icon-submenu-on.png);
    }
  }
}
