.DS_Store

npm-debug.log
node_modules
.sass-cache
bower_components
tmp/*

*.log
sitemap.xml
sitemap.xml.gz
wp-config.php

html/wp/wp-content/advanced-cache.php
html/wp/wp-content/backup-db/
html/wp/wp-content/backups/
html/wp/wp-content/blogs.dir/
html/wp/wp-content/cache/
html/wp/wp-content/upgrade/
html/wp/wp-content/uploads/
html/wp/wp-content/wp-cache-config.php
html/wp/wp-content/plugins/hello.php