/.vagrant
*.DS_Store

npm-debug.log
node_modules
.sass-cache
bower_components
tmp/*

*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php

html/wp/wp-content/advanced-cache.php
html/wp/wp-content/backup-db/
html/wp/wp-content/backups/
html/wp/wp-content/blogs.dir/
html/wp/wp-content/cache/
html/wp/wp-content/upgrade/
html/wp/wp-content/uploads/
html/wp/wp-content/wp-cache-config.php

test/wp-tests-config.php

vendor

## Independents

/html/beuys/*
/html/sauna/*
/html/signage/*

/html/htdig
/html/_log/*
/html/_tabela/*
/html/-/*
/html/12tango/*
/html/1000words/*
/html/100000/*
/html/20181206/*
/html/AcresFilm/*
/html/ada/*
/html/afgan/*
/html/afghandocument/*
/html/aucoin/*
/html/allgovernmentslie/*
/html/anpo/*
/html/anvil/*
/html/armadillo/*
/html/artlife/*
/html/astaire/*
/html/balletboys/*
/html/banksydoesny/*
/html/Basie/*
/html/basie/*
/html/bettersex/*
/html/bigawatashitachi/*
/html/blind/*
/html/BLOG-NAME/*
/html/bluegold/*
/html/brightfuture/*
/html/burma/*
/html/burton/*
/html/cannes_short5/*
/html/carla/*
/html/ceo/*
/html/cloud/*
/html/corporation/*
/html/css2/*
/html/d-planets/*
/html/dance/*
/html/dancer/*
/html/db/*
/html/deathofadynasty/*
/html/derekretro/*
/html/dolphinman/*
/html/dostoevskii/*
/html/dublin/*
/html/dune/*
/html/eames/*
/html/elephantsong/*
/html/emerald/*
/html/endless/*
/html/evolution/*
/html/exitthrough/*
/html/facingali/*
/html/fastfriday/*
/html/favicon.ico/*
/html/fields/*
/html/film/*
/html/filth/*
/html/fireunderthesnow/*
/html/foster/*
/html/gaza/*
/html/gmo/*
/html/gould/*
/html/gypsycaravan/*
/html/hajimari/*
/html/hana/*
/html/htdig/*
/html/html-joji/*
/html/hula/*
/html/img/*
/html/iceking/*
/html/index.php/*
/html/info/*
/html/iwojima/*
/html/jamaica/*
/html/jameson_okushibuya/*
/html/jodorowsky/*
/html/js/*
/html/jtleroy/*
/html/junkfilms/*
/html/kakunokizu/*
/html/kaleidoscope/*
/html/kansei/*
/html/kanteimae/*
/html/kaotachi/*
/html/kenneth/*
/html/kietavermeer/*
/html/kikoeteru/*
/html/killyour/*
/html/kobani/*
/html/kokokaze/*
/html/kotonoshidai/*
/html/kouno/*
/html/lachana/*
/html/latin/*
/html/laurence/*
/html/listen/*
/html/lucky/*
/html/melancholic/*
/html/mercano/*
/html/miracletwins/*
/html/miwa/*
/html/mixtape/*
/html/monsanto/*
/html/mrdynamite/*
/html/mt/*
/html/murakoshi/*
/html/myfirstdvd/*
/html/mynameis/*
/html/namaenonai/*
/html/nijyuu/*
/html/nina/*
/html/nippon_erotics/*
/html/nocomment/*
/html/nostalgiabutton/*
/html/nuages/*
/html/oishiicoffee/*
/html/old_workshop/*
/html/omar/*
/html/opensky/*
/html/orozco/*
/html/oso/*
/html/ourbloodiswine/*
/html/paradise_movie/*
/html/paradisenow/*
/html/parcocity/*
/html/pattismith/*
/html/pedal/*
/html/petittheater/*
/html/phpThumb/*
/html/pinkmovie/*
/html/pinkribbon/*
/html/podcast/*
/html/popup/*
/html/pripyat/*
/html/psychomagic/*
/html/raone/*
/html/raqqa/*
/html/rasta/*
/html/reggae/*
/html/renewal/*
/html/restrepo/*
/html/roadtoroubaix/*
/html/rootstime/*
/html/rovers/*
/html/rwwm/*
/html/sabine/*
/html/sacromonte/*
/html/sagrada/*
/html/sami/*
/html/sassoon/*
/html/searchers/*
/html/seijya/*
/html/seinaru/*
/html/sekatabe/*
/html/sensenfukoku/*
/html/severn/*
/html/seymour/*
/html/SHINKIRO_NO_FUNE/*
/html/shokubutsu/*
/html/shokutaku/*
/html/sidebyside/*
/html/skin/*
/html/soulpower/*
/html/springfever/*
/html/sql/*
/html/strawberry/*
/html/suzukisyoko/*
/html/swf2/*
/html/tabela/*
/html/tatemono/*
/html/tatemonofes2016/*
/html/thallium/*
/html/thecatsofmirikitani/*
/html/thediet/*
/html/thelovewemake/*
/html/three/*
/html/tintin/*
/html/tom/*
/html/tom_dowd/*
/html/toumast/*
/html/tour/*
/html/touroperator/*
/html/toypiano/*
/html/utakata/*
/html/uyghur/*
/html/veloso/*
/html/vhs/*
/html/vincent/*
/html/voiceofangels/*
/html/voiceofhedwig/*
/html/wakaranai/*
/html/warrequiem/*
/html/wildstyle/*
/html/windhorse/*
/html/winefes/*
/html/workshop/*
/html/wsp/*
/html/yourmessage/*
