/.vagrant
*.DS_Store

npm-debug.log
node_modules
.sass-cache
bower_components
tmp/*

*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php

html/wp/wp-content/advanced-cache.php
html/wp/wp-content/backup-db/
html/wp/wp-content/backups/
html/wp/wp-content/blogs.dir/
html/wp/wp-content/cache/
html/wp/wp-content/upgrade/
html/wp/wp-content/uploads/
html/wp/wp-content/wp-cache-config.php

test/wp-tests-config.php

vendor

## Independents

/_log/*
/_tabela/*
/-/*
/12tango/*
/1000words/*
/100000/*
/20181206/*
/AcresFilm/*
/ada/*
/afgan/*
/afghandocument/*
/allgovernmentslie/*
/anpo/*
/anvil/*
/armadillo/*
/artlife/*
/astaire/*
/balletboys/*
/banksydoesny/*
/bettersex/*
/bigawatashitachi/*
/blind/*
/BLOG-NAME/*
/bluegold/*
/brightfuture/*
/burma/*
/burton/*
/cannes_short5/*
/carla/*
/ceo/*
/cloud/*
/corporation/*
/css2/*
/d-planets/*
/dance/*
/dancer/*
/db/*
/deathofadynasty/*
/derekretro/*
/dostoevskii/*
/dublin/*
/dune/*
/eames/*
/elephantsong/*
/emerald/*
/endless/*
/evolution/*
/exitthrough/*
/facingali/*
/fastfriday/*
/favicon.ico/*
/film/*
/filth/*
/fireunderthesnow/*
/foster/*
/gaza/*
/gmo/*
/gould/*
/gypsycaravan/*
/hajimari/*
/hana/*
/htdig/*
/hula/*
/img/*
/index.php/*
/info/*
/iwojima/*
/jamaica/*
/jameson_okushibuya/*
/jodorowsky/*
/js/*
/jtleroy/*
/junkfilms/*
/kakunokizu/*
/kaleidoscope/*
/kansei/*
/kanteimae/*
/kaotachi/*
/kenneth/*
/kietavermeer/*
/kikoeteru/*
/killyour/*
/kobani/*
/kokokaze/*
/kotonoshidai/*
/kouno/*
/lachana/*
/latin/*
/laurence/*
/listen/*
/lucky/*
/mercano/*
/miracletwins/*
/miwa/*
/mixtape/*
/monsanto/*
/mrdynamite/*
/mt/*
/murakoshi/*
/myfirstdvd/*
/mynameis/*
/namaenonai/*
/nijyuu/*
/nina/*
/nippon_erotics/*
/nocomment/*
/nostalgiabutton/*
/nuages/*
/oishiicoffee/*
/old_workshop/*
/omar/*
/opensky/*
/orozco/*
/oso/*
/paradise_movie/*
/paradisenow/*
/parcocity/*
/pattismith/*
/pedal/*
/petittheater/*
/phpThumb/*
/pinkmovie/*
/pinkribbon/*
/podcast/*
/popup/*
/pripyat/*
/raone/*
/raqqa/*
/rasta/*
/reggae/*
/renewal/*
/restrepo/*
/roadtoroubaix/*
/rootstime/*
/rovers/*
/rwwm/*
/sabine/*
/sacromonte/*
/sagrada/*
/sami/*
/sassoon/*
/searchers/*
/seijya/*
/seinaru/*
/sekatabe/*
/sensenfukoku/*
/severn/*
/seymour/*
/SHINKIRO_NO_FUNE/*
/shokubutsu/*
/shokutaku/*
/sidebyside/*
/skin/*
/soulpower/*
/springfever/*
/sql/*
/strawberry/*
/suzukisyoko/*
/swf2/*
/tabela/*
/tatemono/*
/tatemonofes2016/*
/thallium/*
/thecatsofmirikitani/*
/thediet/*
/thelovewemake/*
/three/*
/tintin/*
/tom/*
/tom_dowd/*
/toumast/*
/tour/*
/touroperator/*
/toypiano/*
/utakata/*
/uyghur/*
/veloso/*
/vhs/*
/vincent/*
/voiceofangels/*
/voiceofhedwig/*
/wakaranai/*
/warrequiem/*
/wildstyle/*
/windhorse/*
/workshop/*
/wsp/*
/yourmessage/*