<section>
  <div class="archive_shcedule-header">
    <h1 class="archive_header-heading">2018.10</h1>
    <div class="archive_header-nav">
      <a href="">前の月</a>
      <span>今月</span>
      <a href="">次の月</a>
    </div>
  </div>
  <ul class="list-tag">
    <li><span class="tag-film">上映</span></li>
    <li><span class="tag-events">イベント</span></li>
    <li><span class="tag-gallery">ギャラリー</span></li>
    <li><span class="tag-market">マーケット</span></li>
  </ul>
  <%- include('_list-calendar-core.ejs'); %>
  <div class="archive_shcedule-header">
    <h1 class="archive_header-heading">2018.10</h1>
    <div class="archive_header-nav">
      <a href="">前の月</a>
      <span>今月</span>
      <a href="">次の月</a>
    </div>
  </div>
</section>
