<section class="l-followus">
  <div class="followus-inner">
    <h2 class="followus-heading">FOLLOW US</h2>
    <ul class="followus-sns">
      <li class="sns-tw"><a href="">twitter</a></li>
      <li class="sns-fb"><a href="">facebook</a></li>
      <li class="sns-in"><a href="">instagram</a></li>
      <li class="sns-yt"><a href="">youtube</a></li>
    </ul>
    <h2 class="followus-heading">SUBSCRIBE</h2>
    <a href="">メールマガジン登録</a>
  </div>
</section>