<footer class="l-footer">
  <h2><img src="" alt="UPLINK"></h2>
  <nav>
    <ul>
      <li><a href="">UPLINKについて</a></li>
      <li><a href="">採用情報</a></li>
      <li><a href="">地図・お問合せ</a></li>
      <li><a href="">個人情報の取り扱い</a></li>
      <li><a href="">English Information</a></li>
    </ul>
  </nav>
  <p>2018 UPLINK, LTD.</p>
</footer>

<script src="./js/libs/jquery.min.js"></script>
<script src="./js/script.min.js"></script>
</body>
</html>