<footer class="l-footer">
  <h2 class="footer-logo"><img src="./img/logo-footer.png" alt="UPLINK"></h2>
  <nav class="footer-nav">
    <ul>
      <li><a href="">UPLINKについて</a></li>
      <li><a href="">採用情報</a></li>
      <li><a href="">地図・お問合せ</a></li>
      <li><a href="">個人情報の取り扱い</a></li>
      <li><a href="">English Information</a></li>
    </ul>
  </nav>
  <p class="footer-copy">2018 UPLINK, LTD.</p>
</footer>

<script src="./js/libs/jquery.min.js"></script>
<script src="./js/libs/jquery.bez.min.js"></script>
<script src="./js/libs/slick.min.js"></script>
<script src="./js/libs/jquery.sticky-kit.min.js"></script>
<!-- <script src="./js/libs/jquery.dotdotdot.js"></script> -->
<script src="./js/script.min.js"></script>
</body>
</html>