<!-- メイン -->
<header class="l-header">
  <div class="header-inner">
    <h1 class="header-logo">
      <a href="">UPLINK</a>
    </h1>
    <div class="header-body">
      <h2 class="header-logo"><a href="">UPLINK</a></h2>
      <p class="header-nav_trigger"><a href="" class="js-mainNavTrigger">MENU</a></p>
    </div>
  </div>
</header>