<%
  if(typeof theme === 'undefined') { var theme = 'theme-main' }
  if(typeof page === 'undefined') { var page = '' }
%>

<html>
<head>
  <meta charset="UTF-8">
  <meta name="author" content="著者情報">
  <meta name="description" content="記事の概要">
  <meta name="format-detection" content="telephone=no,address=no,email=no">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@twitter">
  <meta property="fb:app_id" content="00000000000">
  <meta property="og:description" content="記事の概要">
  <meta property="og:title" content="UPLINK">
  <meta property="og:url" content="http://www.uplink.co.jp/">
  <meta property="og:image" content="http://www.uplink.co.jp/img/ogp.png">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="UPLINK">

  <link rel="icon" href="./img/icon/favicon.ico">
  <link rel="apple-touch-icon" href="./img/icon/icon.png">
  <link rel="alternate" type="application/rss+xml" href="http://example.com/feed">
  <link rel="stylesheet" href="./css/style.min.css">

  <title>UPLINK</title>

</head>
<body class="<%- theme; %> <%- page; %>">