<%
  if(typeof title === 'undefined') { var title = '' }
  if(typeof subtitle === 'undefined') { var subtitle = '' }
%>
<div class="l-header_sub">
  <h2 class="header_sub-heading">
    <%- title; %>
    <span><%- subtitle; %></span>
  </h2>
</div>
