  <header class="l-header">

    <div class="header-inner">
      <h1 class="header-logo">
        <a href="">
          <span><img src="/img/logo.png" alt="UPLINK" /></span>
        </a>
      </h1>
      <p class="header-nav_trigger"><a href="" class="js-mainNavTrigger">MENU</a></p>
    </div>

    <nav class="l-nav">
      <div class="nav-shibuya">
        <a href="">
          <img src="./img/logo-shibuya.png" width="142" alt="UPLINK 渋谷" />
          <span>CINEMA—SHIBUYA</span>
        </a>
      </div>
      <div class="nav-joji">
        <a href="">
          <img src="./img/logo-joji.png" width="165" alt="UPLINK 吉祥寺" />
          <span>CINEMA—KICHIJOJI</span>
        </a>
      </div>
      <div class="nav-wrap_pc">
        <div class="nav-related">
          <a href="">
            <img src="./img/logo-cloud.png" width="118" alt="UPLINK Cloud" />
            <span>ONLINE CINEMA</span>
          </a>
        </div>
        <div class="nav-default">
          <a href="">
            <p>アップリンク会員について</p>
            <span>MEMBERSHIP</span>
          </a>
        </div>
      </div>
    </nav>
  </header>