  <section>
    <h2 class="section-heading">
      お知らせ
      <span>NEWS</span>
    </h2>
    <%- include('_list-news-core.ejs'); %>
    <p class="list-readmore"><a href="">お知らせ一覧</a></p>
  </section>