  <section>
    <h2 class="section-heading">
      お知らせ
      <span>NEWS</span>
    </h2>
    <ul class="list-news">
      <li><a href="">
        <span class="list-news-date">2018.08.16</span>
        <dl class="list-news-inner">
          <dt>大好評につきアンコール上映決定！！映画『ラ・チャナ』超貴重特別映像限定上映！！！</dt>
          <dd><img src="https://placehold.jp/90x60.png"></dd>
        </dl>
      </a></li>
      <li><a href="">
        <span class="list-news-date">2018.08.16</span>
        <dl class="list-news-inner">
          <dt>大好評につきアンコール上映決定！！映画『ラ・チャナ』超貴重特別映像限定上映！！！</dt>
          <dd><img src="https://placehold.jp/90x60.png"></dd>
        </dl>
      </a></li>
      <li><a href="">
        <span class="list-news-date">2018.08.16</span>
        <dl class="list-news-inner">
          <dt>大好評につきアンコール上映決定！！映画『ラ・チャナ』超貴重特別映像限定上映！！！</dt>
          <dd><img src="https://placehold.jp/90x60.png"></dd>
        </dl>
      </a></li>
      <li><a href="">
        <span class="list-news-date">2018.08.16</span>
        <dl class="list-news-inner">
          <dt>大好評につきアンコール上映決定！！映画『ラ・チャナ』超貴重特別映像限定上映！！！</dt>
          <dd><img src="https://placehold.jp/90x60.png"></dd>
        </dl>
      </a></li>
      <li><a href="">
        <span class="list-news-date">2018.08.16</span>
        <dl class="list-news-inner">
          <dt>大好評につきアンコール上映決定！！映画『ラ・チャナ』超貴重特別映像限定上映！！！</dt>
          <dd><img src="https://placehold.jp/90x60.png"></dd>
        </dl>
      </a></li>
    </ul>
    <p class="list-readmore"><a href="">お知らせ一覧</a></p>
  </section>