  <section>
    <h2 class="section-heading">
      関連サービス
      <span>RELATED SERVICES</span>
    </h2>
    <ul class="list-related">
      <li>
        <div class="nav-related">
          <a href="">
            <img src="./img/logo-plango.png" width="75" alt="PLAN GO">
            <span>CROWDFUNDING</span>
          </a>
        </div>
      </li>
      <li>
        <div class="nav-related">
          <a href="">
            <p>配給・デジタルムービーを学ぶ</p>
            <span>WORKSHOP</span>
          </a>
        </div>
      </li>
      <li>
        <div class="nav-related">
          <a href="">
            <p>アップリンクの配給する映画</p>
            <span>FILMS</span>
          </a>
        </div>
      </li>
      <li>
        <div class="nav-related">
          <a href="">
            <p>自主上映のご案内</p>
            <span>FILM RENTAL</span>
          </a>
        </div>
      </li>
      <li>
        <div class="nav-related">
          <a href="">
            <p>DCP制作サービス</p>
            <span>PRO SERVICE</span>
          </a>
        </div>
      </li>
      <li>
        <div class="nav-related">
          <a href="">
            <img src="./img/logo-webdice.png" width="83" alt="WEB DICE">
            <span>WEB MAGAZINE</span>
          </a>
        </div>
      </li>
      <li>
        <div class="nav-related">
          <a href="">
            <img src="./img/logo-tabela.png" width="99" alt="Tabela">
            <span>CAFE & RESTAURANT</span>
          </a>
        </div>
      </li>
    </ul>
  </section>