<%
  if(typeof len === 'undefined') { var len = 5 }
  if(typeof usethumb === 'undefined') { var usethumb = false }

  var title = [
    'タベラ・スタッフ募集（キッチン）',
    'ハービー・山口写真展「今日は、映画を観に行く」撮影プロジェクトの被写体募集！',
    'スタッフ募集（アップリンク吉祥寺劇場運営、経理事務）',
    '渋谷・吉祥寺店共通の「新・アップリンク会員制度」のお得な早期受付スタート！および会員料金の改定について',
    '大好評につきアンコール上映決定！！映画『ラ・チャナ』超貴重特別映像限定上映！！！',
    'パワフルな映画と料理で夏の疲れを吹き飛ばす！ 映画『ラ・チャナ』× Tabelaのコラボレーションメニュー登場 ！',
    '『ドストエフスキーと愛に生きる』配給権終了に伴い自主上映キャンペーン開始',
    '大好評につきアンコール上映決定！！映画『ラ・チャナ』超貴重特別映像限定上映！！！',
    'アップリンク・インターンシップ登録受付中',
    'アップリンクが応援するクラウドファンディング『PLAN GO』4/5スタート！',
  ];
  var title_len = title.length;
%>

<ul class="list-news">

<% for (var i = 1; i <= len; i++) { %>
  <li><a href="">
    <div class="list-news-inner">
      <p class="list-news-date">2018.08.16<span>NEW</span></p>
      <p class="list-news-text"><%- title[i % title_len]; %></p>
    </div>
    <% if(usethumb && i%4 !== 0) { %><p class="list-news-thumb"><img src="https://placehold.jp/337x177.png" alt="<%- title[i % title_len]; %>" /></p><% } %>
  </a></li>
<% } %>

</ul>