<section>
  <h2 class="section-heading">
    今日と明日のスケジュール
    <span>TODAY & TOMORROW</span>
  </h2>
  <ul class="list-tag">
    <li><span class="tag-film">上映</span></li>
    <li><span class="tag-events">イベント</span></li>
    <li><span class="tag-gallery">ギャラリー</span></li>
    <li><span class="tag-market">マーケット</span></li>
  </ul>
  <%- include('_list-calendar-core.ejs'); %>
  <p class="list-readmore"><a href="">今月のスケジュール</a></p>
</section>
