<div class="l-header_sub">
  <div class="header_sub-inner">
    <h2 class="header_sub-heading">
      マーケット
      <span>MARKET</span>
    </h2>
    <p class="header-nav_sub_trigger"><a href="" class="js-subNavTrigger">SUB MENU</a></p>
  </div>
  <nav class="l-nav_sub">
    <div class="nav-wrap">
      <a href="#market">
        マーケットについて
        <span>ABOUT THE MARKET</span>
      </a>
      <a href="#schedule">
        出店スケジュール
        <span>SCHEDULE</span>
      </a>
      <a href="#online">
        オンラインショップ
        <span>OMLINE SHOP</span>
      </a>
    </div>
  </nav>
</div>
