<!-- メイン ナビ -->
<nav class="l-nav">
  <div class="nav-shibuya">
    <a href="">
      <img src="./img/logo-shibuya.png" width="142" alt="UPLINK 渋谷" />
      <span>CINEMA—SHIBUYA</span>
    </a>
  </div>
  <div class="nav-joji">
    <a href="">
      <img src="./img/logo-joji.png" width="165" alt="UPLINK 吉祥寺" />
      <span>CINEMA—KICHIJOJI</span>
    </a>
  </div>
  <div class="nav-wrap_pc">
    <div class="nav-related">
      <a href="">
        <img src="./img/logo-cloud.png" width="118" alt="UPLINK Cloud" />
        <span>ONLINE CINEMA</span>
      </a>
    </div>
    <div class="nav-default">
      <a href="">
        <p>アップリンク会員について</p>
        <span>MEMBERSHIP</span>
      </a>
    </div>
  </div>
</nav>