<!-- 吉祥寺・渋谷 スライダー -->
<section class="l-slider">
  <div class="js-slick slider-inner">
    <div><a href=""><img src="https://placehold.jp/560x315.png"></a></div>
    <div><a href=""><img src="https://placehold.jp/560x315.png"></a></div>
    <div><a href=""><img src="https://placehold.jp/560x315.png"></a></div>
    <div><a href=""><img src="https://placehold.jp/560x315.png"></a></div>
    <div><a href=""><img src="https://placehold.jp/560x315.png"></a></div>
  </div>
</section>


