<!-- 吉祥寺・渋谷 スライダー -->
<section class="l-slider">
  <div class="js-slick slider-inner">
    <div><a href="">
      <p class="slider-toptext"><span>10月22日（月）19:00開場/19:30開演</span></p>
      <img src="https://placehold.jp/800x200.png">
      <p class="slider-bottomtext"><span>F/T ディスカッション「アジア・トランスフィールド　プノンペンの最新カルチャー」（トF/T ディスカッション「アジア・トランスフィールド　プノンペンの最新カルチャー」（ト</span></p>
    </a></div>
    <div><a href="">
      <p class="slider-toptext"><span>10月22日（月）19:00開場/19:30開演</span></p>
      <img src="https://placehold.jp/240x300.png">
      <p class="slider-bottomtext"><span>F/T ディスカッション「アジア・トランスフィールド　プノンペンの最新カルチャー」（トF/T ディスカッション「アジア・トランスフィールド　プノンペンの最新カルチャー」（ト</span></p>
    </a></div>
    <div><a href="">
      <p class="slider-toptext"><span>10月22日（月）19:00開場/19:30開演</span></p>
      <img src="https://placehold.jp/160x300.png">
      <p class="slider-bottomtext"><span>F/T ディスカッション「アジア・トランスフィールド　プノンペンの最新カルチャー」（トF/T ディスカッション「アジア・トランスフィールド　プノンペンの最新カルチャー」（ト</span></p>
    </a></div>
    <div><a href="">
      <p class="slider-toptext"><span>10月22日（月）19:00開場/19:30開演</span></p>
      <img src="https://placehold.jp/100x100.png">
      <p class="slider-bottomtext"><span>F/T ディスカッション「アジア・トランスフィールド　プノンペンの最新カルチャー」（トF/T ディスカッション「アジア・トランスフィールド　プノンペンの最新カルチャー」（ト</span></p>
    </a></div>
    <div><a href="">
      <p class="slider-toptext"><span>10月22日（月）19:00開場/19:30開演</span></p>
      <img src="https://placehold.jp/500x800.png">
      <p class="slider-bottomtext"><span>F/T ディスカッション「アジア・トランスフィールド　プノンペンの最新カルチャー」（トF/T ディスカッション「アジア・トランスフィールド　プノンペンの最新カルチャー」（ト</span></p>
    </a></div>
  </div>
</section>


