<%/*
<!-- 吉祥寺・渋谷 スライダー -->
  <section>
    <div><a href=""><img src="https://placehold.jp/560x315.png"></a></div>
    <div><a href=""><img src="https://placehold.jp/560x315.png"></a></div>
    <div><a href=""><img src="https://placehold.jp/560x315.png"></a></div>
    <div><a href=""><img src="https://placehold.jp/560x315.png"></a></div>
    <div><a href=""><img src="https://placehold.jp/560x315.png"></a></div>
  </section>
*/ %>
