<div class="wysiwyg-wrap">
  <div class="l-wysiwyg">
    <h2>( 22px, 87%, 長体88% ) 大字</h2>
    <h3>( 16px, 87% ) 中字</h3>

    <h3>テキスト</h3>
    <p>
      <span class="small">小字</span><br />
      <small>( 12px ) 小さい字</small><br />
      <span class="red">赤字</span><br />
      <span class="blue">青字</span><br />
      <span class="pink">ピンク字</span><br />
      <span class="green">緑字</span><br />
      <span class="gray">(60%) グレー</span><br />
      <span class="bg-yellow">マーカー（黄色）</span><br />
      <span class="bg-green">マーカー（緑色）</span><br />
      <b>太字</b><br />
      <i>イタリック</i><br />
      <s>打ち消し線</s><br />
      ( 15px, 87% ) 通常テキスト通常テキスト通常テキスト通常テキスト通常テキスト通常テキスト通常テキスト
    </p>


    <h3>引用文</h3>
    <blockquote>
      アトリエで愛娘の存在を感じな<br />
      がら創作する姿を親密に捉えた<br />
      貴重なドキュメンタリー。
    </blockquote>

    <h3>囲み線</h3>
    <div class="enclosure">
      テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br />
      テキストテキストテキストテキストテキスト
    </div>

    <h3>区切り線</h3>
    <hr />

    <h3>画像</h3>
    <p class="txt-c"><img src="https://placehold.jp/1280x850.png" width="640"></p>
    <p class="txt-c"><img src="https://placehold.jp/900x1280.png" width="450"></p>

    <h3>動画</h3>
    <div class="youtube">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/asggt9WQtx0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <h3>右寄せテキスト</h3>
    <div class="txt-r">
      テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br />
      テキストテキストテキストテキストテキスト
    </div>
    <p class="txt-r">Pタグの場合</p>
    <h2 class="txt-r">大字の場合</h2>
    <h3 class="txt-r">中字の場合</h3>

    <h3>センター寄せテキスト</h3>
    <div class="txt-c">
      テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br />
      テキストテキストテキストテキストテキスト
    </div>
    <p class="txt-c">Pタグの場合</p>
    <h2 class="txt-c">大字の場合</h2>
    <h3 class="txt-c">中字の場合</h3>

    <h3>横並びリンク</h3>
    <div class="single-linkList">
      <a href="">公式サイト</a>
      <a href="">Twitter</a>
      <a href="">Facebook</a>
    </div>

    <h3>小見出し + テキスト</h3>
    <hr />
    <div class="single-information">
      <h4 class="small gray">ゲストプロフィール</h4>
      <p><b>永瀬沙世（ながせ・さよ）</b><br />東京をベースに活動するアーティスト、写真家、ヨモギブックス主催。現在まで10冊の写真集を制作。 そのうち「パリを拠点とするストックホルムの「LIBRARYMAN社」から2冊出版される。 2017年『THE VOID』をGALLERY 360°(東京・表参道）で展覧会開催と同時に写真集集を出版。 2018年9月に「Milky Way 天の川」を360°(神宮前)にて発表、同タイトルの写真集も発売。<a href="">http://www.nagasesayo.com</a></p>
      <p><b>金子 渚（かねこ・なぎさ）</b><br />東京・渋谷にあるネイルサロン「DISCO」オーナー。オープン当時、ネイル界では珍しいエッジィでモードなデザインセンスで瞬く間に注目を集め、ファッショニスタご用達のネイルサロンとして名を馳せる。2012年には“ネイル映えするジュエリー”がコンセプトのアクセサリーブランド「メイデン」をスタート。ネイリストの枠を飛び越え、デザイナーとしても活躍の幅を広げファッション界でもいち目置かれる存在に。プライベートでは一児のママ。<a href="">http://disco-tokyo.com</a></p>
      <p><b>桑原亮子（くわはら・りょうこ）</b><br />カルチャーWEBマガジン「NeoL／ネオエル」編集長。エディトリアルの他にCS「foodies」にて食番組のプロデュースを務め、スカパーアワードを受賞。百貨店のタブロイドのプロデュース、子連れ限定ディスコ「KID’S DISCO」のオーガナイザーなど、多方面にて活躍。<a href="">http://www.neol.jp/</a></p>
    </div>
    <hr />
    <div>
      <h4 class="small gray">日時</h4>
      <p>10月26日（金）19:30開場/20:00開演</p>
    </div>
    <hr />
    <div>
      <h4 class="small gray">リンク</h4>
      <div class="single-linkList">
        <a href="">公式サイト</a>
        <a href="">Twitter</a>
        <a href="">Facebook</a>
      </div>
    </div>


    <h3>番号付きリスト</h3>
    <ol>
      <li>リストです。</li>
      <li>リストです。</li>
      <li>リストです。</li>
      <li>リストです。</li>
      <li><a href="">リスト内リンク</a></li>
    </ol>
    <div class="enclosure">
      <ol>
        <li>リストです。</li>
        <li>リストです。</li>
        <li>リストです。</li>
        <li>リストです。</li>
        <li><a href="">リスト内リンク</a></li>
      </ol>
    </div>

    <h3>通常リスト</h3>
    <ul>
      <li>リストです。</li>
      <li>リストです。</li>
      <li>リストです。</li>
      <li>リストです。</li>
      <li><a href="">リスト内リンク</a></li>
    </ul>
    <div class="enclosure">
      <ul>
        <li>リストです。</li>
        <li>リストです。</li>
        <li>リストです。</li>
        <li>リストです。<span class="red">※ a</span></li>
        <li><a href="">リスト内リンク</a></li>
      </ul>
    </div>

    <h3>テーブル</h3>
    <table>
      <tr>
        <th>平日</th>
        <td>
          15:00〜22:00<br />
          16,000円（税別）/ 60分<br />
          <small class="gray">4時間以上のご利用をお願いします</small>
        </td>
      </tr>
      <tr>
        <th>土日祝日</th>
        <td>
          15:00〜22:00<br />
          16,000円（税別）/ 60分<br />
          <small class="gray">5時間以上のご利用をお願いします</small>
        </td>
      </tr>
    </table>

    <hr />

    <h3 class="page-heading">
      1.(20px,87%) 施設レンタル
    </h3>
    <h3 class="page-heading_sub">1.1 (18px,87%) UPLINK FACTORY</h3>
    <p class="page-link">
      <a href="">施設案内</a>
    </p>
    <h3>試写会場として</h3>
    <p><small>※ ( 12px ) 準備・会場の撤収を含む</small></p>
    <table>
      <tr>
        <th>平日</th>
        <td>
          15:00〜17:00<br />
          5,000円（税別）/ 30分<br />
        </td>
      </tr>
    </table>
    <h3 class="page-heading_decorated">
      <div>
        <span>1F</span>
        <span>
          UPLINK FACTORY<br />
          <span class="page-heading_decorated-sub">スクリーン1</span>
        </span>
      </div>
    </h3>
    <h3 class="page-heading_decorated">
      階数ない場合<br />
      <span class="page-heading_decorated-sub">サブタイトル</span>
    </h3>
    <table class="page-table">
      <tr>
        <th>座席数</th>
        <td>58席</td>
      </tr>
      <tr>
        <th>スクリーン</th>
        <td>150インチシネスコスクリーン</td>
      </tr>
    </table>

  </div>
</div>