<%- include('partials/_head.ejs'); %>

<div class="l-wrap">

<!-- 共通 -->
  <section>
    <h2 class="section-heading">
      お知らせ
      <span>NEWS</span>
    </h2>
    <ul class="list-news">
      <li><a href="">
        <span class="list-news-date">2018.08.16</span>
        <dl class="list-news-inner">
          <dt>大好評につきアンコール上映決定！！映画『ラ・チャナ』超貴重特別映像限定上映！！！</dt>
          <dd><img src="https://placehold.jp/90x60.png"></dd>
        </dl>
      </a></li>
      <li><a href="">
        <span class="list-news-date">2018.08.16</span>
        <dl class="list-news-inner">
          <dt>大好評につきアンコール上映決定！！映画『ラ・チャナ』超貴重特別映像限定上映！！！</dt>
          <dd><img src="https://placehold.jp/90x60.png"></dd>
        </dl>
      </a></li>
      <li><a href="">
        <span class="list-news-date">2018.08.16</span>
        <dl class="list-news-inner">
          <dt>大好評につきアンコール上映決定！！映画『ラ・チャナ』超貴重特別映像限定上映！！！</dt>
          <dd><img src="https://placehold.jp/90x60.png"></dd>
        </dl>
      </a></li>
      <li><a href="">
        <span class="list-news-date">2018.08.16</span>
        <dl class="list-news-inner">
          <dt>大好評につきアンコール上映決定！！映画『ラ・チャナ』超貴重特別映像限定上映！！！</dt>
          <dd><img src="https://placehold.jp/90x60.png"></dd>
        </dl>
      </a></li>
      <li><a href="">
        <span class="list-news-date">2018.08.16</span>
        <dl class="list-news-inner">
          <dt>大好評につきアンコール上映決定！！映画『ラ・チャナ』超貴重特別映像限定上映！！！</dt>
          <dd><img src="https://placehold.jp/90x60.png"></dd>
        </dl>
      </a></li>
    </ul>
    <p class="list-readmore"><a href="">お知らせ一覧</a></p>
  </section>

<!-- 本体 -->
  <section>
    <h2 class="section-heading">
      関連サービス
      <span>RELATED SERVICES</span>
    </h2>
    <ul class="list-related">
      <li>
        <div class="nav-related">
          <a href="">
            <img src="./img/logo-plango.png" width="75" alt="PLAN GO">
            <span>CROWDFUNDING</span>
          </a>
        </div>
      </li>
      <li>
        <div class="nav-related">
          <a href="">
            <p>配給・デジタルムービーを学ぶ</p>
            <span>WORKSHOP</span>
          </a>
        </div>
      </li>
      <li>
        <div class="nav-related">
          <a href="">
            <p>アップリンクの配給する映画</p>
            <span>FILMS</span>
          </a>
        </div>
      </li>
      <li>
        <div class="nav-related">
          <a href="">
            <p>自主上映のご案内</p>
            <span>FILM RENTAL</span>
          </a>
        </div>
      </li>
      <li>
        <div class="nav-related">
          <a href="">
            <p>DCP制作サービス</p>
            <span>PRO SERVICE</span>
          </a>
        </div>
      </li>
      <li>
        <div class="nav-related">
          <a href="">
            <img src="./img/logo-webdice.png" width="83" alt="WEB DICE">
            <span>WEB MAGAZINE</span>
          </a>
        </div>
      </li>
      <li>
        <div class="nav-related">
          <a href="">
            <img src="./img/logo-tabela.png" width="99" alt="Tabela">
            <span>CAFE & RESTAURANT</span>
          </a>
        </div>
      </li>
    </ul>
  </section>

<!-- 吉祥寺・渋谷 スライダー -->
  <section>
    <div><a href=""><img src=""></a></div>
    <div><a href=""><img src=""></a></div>
    <div><a href=""><img src=""></a></div>
    <div><a href=""><img src=""></a></div>
    <div><a href=""><img src=""></a></div>
  </section>

<!-- 吉祥寺・渋谷 スケジュール -->

  <section>
    <h2 class="section-heading">
      今日と明日のスケジュール
      <span>TODAY & TOMORROW</span>
    </h2>
    <ul class="list-tag">
      <li><span class="tag-movies">上映</span></li>
      <li><span class="tag-events">イベント</span></li>
      <li><span class="tag-gallery">ギャラリー</span></li>
      <li><span class="tag-market">マーケット</span></li>
    </ul>
    <div class="list-calendar-header is-saturday">
      09.01<span>土</span>
    </div>
      <ul class="list-calendar">
        <li><a href="">
          <article>
            <h1 class="list-calendar-heading">かみさまとのやくそく～あなたは親を選んで生まれてきた～</h1>
            <div class="list-calendar-inner">
              <p class="list-calendar-date">10:15<span>—11:53</span></p>
              <p class="list-calendar-text">【予告なし】【上映後舞台挨拶】登壇者：加藤よしひろ(加藤姉妹父親)</p>
            </div>
          </article>
        </a></li>
        <li><a href="">
          <article>
            <h1 class="list-calendar-heading">マガディーラ 勇者転生</h1>
            <div class="list-calendar-inner">
              <p class="list-calendar-date">10:15<span>—11:53</span></p>
              <p class="list-calendar-text">【サービスデー】</p>
            </div>
            <div class="list-calendar-inner">
              <p class="list-calendar-date">10:15<span>—11:53</span></p>
              <p class="list-calendar-text">【サービスデー】</p>
              <p>当日窓口</p>
            </div>
            <div class="list-calendar-inner">
              <p class="list-calendar-date">10:15<span>—11:53</span></p>
              <p class="list-calendar-text">【サービスデー】</p>
              <p><a href="">購入する</a></p>
            </div>
          </article>
        </a></li>
      </ul>
    </div>
    <div>
      <div class="list-calendar-header is-holiday">
        09.01<span>日</span>
      </div>
      <ul class="list-calendar">
        <li><a href="">
          <article>
            <h1 class="list-calendar-heading">かみさまとのやくそく～あなたは親を選んで生まれてきた～</h1>
            <div class="list-calendar-inner">
              <p class="list-calendar-date">10:15<span>—11:53</span></p>
              <p class="list-calendar-text">【予告なし】【上映後舞台挨拶】登壇者：加藤よしひろ(加藤姉妹父親)</p>
              <p><a href="">購入する</a></p>
            </div>
          </article>
        </a></li>
        <li><a href="">
          <article>
            <h1 class="list-calendar-heading">映画『聖なる呼吸：ヨガのルーツに出会う旅』DVD発売記念トーク＋ヨガ体験付き上映会（ゲスト：柳生直子先生）</h1>
            <div class="list-calendar-inner">
              <p class="list-calendar-date">10:15<span>—11:53</span></p>
              <p class="list-calendar-text">【ダイジェスト版上映】上映後特典映像上映+トーク＆アーサナミニレクチャーあり（ゲスト：柳生直子先生）</p>
              <p><a href="">購入する</a></p>
            </div>
          </article>
        </a></li>
        <li><a href="">
          <article>
            <h1 class="list-calendar-heading">レディ・バード</h1>
            <div class="list-calendar-inner">
              <p class="list-calendar-date">10:15<span>—11:53</span></p>
              <p class="list-calendar-text">【予告なし】</p>
              <p><a href="">購入する</a></p>
            </div>
          </article>
        </a></li>
      </ul>
    </div>
    <p class="list-readmore"><a href="">今月のスケジュール</a></p>
  </section>




  <!-- 全サイト共通 -->
  <section class="l-followus">
    <h2 class="followus-heading">FOLLOW US</h2>
    <ul class="followus-sns">
      <li class="sns-tw"><a href="">twitter</a></li>
      <li class="sns-fb"><a href="">facebook</a></li>
      <li class="sns-in"><a href="">instagram</a></li>
      <li class="sns-yt"><a href="">youtube</a></li>
    </ul>
    <h2 class="followus-heading">SUBSCRIBE</h2>
    <a href="">メールマガジン登録</a>
  </section>

</div>

<%- include('partials/_footer.ejs'); %>
