<%- include('partials/_head.ejs'); %>

<div class="l-wrap">

<!-- 共通 -->
  <section>
    <h2>
      お知らせ
      <span>NEWS</span>
    </h2>
    <ul>
      <li><a href="">
        <span>2018.08.16</span>
        <dl>
          <dt>大好評につきアンコール上映決定！！映画『ラ・チャナ』超貴重特別映像限定上映！！！</dt>
          <dd><img src=""></dd>
        </dl>
      </a></li>
      <li><a href="">
        <span>2018.08.16</span>
        <dl>
          <dt>大好評につきアンコール上映決定！！映画『ラ・チャナ』超貴重特別映像限定上映！！！</dt>
          <dd><img src=""></dd>
        </dl>
      </a></li>
      <li><a href="">
        <span>2018.08.16</span>
        <dl>
          <dt>大好評につきアンコール上映決定！！映画『ラ・チャナ』超貴重特別映像限定上映！！！</dt>
          <dd><img src=""></dd>
        </dl>
      </a></li>
      <li><a href="">
        <span>2018.08.16</span>
        <dl>
          <dt>大好評につきアンコール上映決定！！映画『ラ・チャナ』超貴重特別映像限定上映！！！</dt>
          <dd><img src=""></dd>
        </dl>
      </a></li>
      <li><a href="">
        <span>2018.08.16</span>
        <dl>
          <dt>大好評につきアンコール上映決定！！映画『ラ・チャナ』超貴重特別映像限定上映！！！</dt>
          <dd><img src=""></dd>
        </dl>
      </a></li>
    </ul>
    <a href="">お知らせ一覧</a>
  </section>

<!-- 本体 -->
  <section>
    <h2>
      関連サービス
      <span>RELATED SERVICES</span>
    </h2>
    <ul>
      <li><a href="">
        <img src="" alt="PLAN GO">
        <span>CROWDFUNDING</span>
      </a></li>
      <li><a href="">
        配給・デジタルムービーを学ぶ
        <span>WORKSHOP</span>
      </a></li>
      <li><a href="">
        アップリンクの配給する映画
        <span>FILMS</span>
      </a></li>
      <li><a href="">
        自主上映のご案内
        <span>FILM RENTAL</span>
      </a></li>
      <li><a href="">
        DCP制作サービス
        <span>PRO SERVICE</span>
      </a></li>
      <li><a href="">
        <img src="" alt="WEB DICE">
        <span>WEB MAGAZINE</span>
      </a></li>
      <li><a href="">
        <img src="" alt="Tabela">
        <span>CAFE & RESTAURANT</span>
      </a></li>
    </ul>
  </section>

<!-- 吉祥寺・渋谷 スライダー -->
  <section>
    <div><a href=""><img src=""></a></div>
    <div><a href=""><img src=""></a></div>
    <div><a href=""><img src=""></a></div>
    <div><a href=""><img src=""></a></div>
    <div><a href=""><img src=""></a></div>
  </section>

<!-- 吉祥寺・渋谷 スケジュール -->

  <section>
    <div>
      <h2>
        今日と明日のスケジュール
        <span>TODAY & TOMORROW</span>
      </h2>
      <div>
        <ul>
          <li><span>上映</span></li>
          <li><span>イベント</span></li>
          <li><span>ギャラリー</span></li>
          <li><span>マーケット</span></li>
        </ul>
      </div>
    </div>
    <div>
      <p>09.01 <span>土</span></p>
      <ul>
        <li><a href="">
          <article>
            <h1>かみさまとのやくそく～あなたは親を選んで生まれてきた～</h1>
            <div>
              <p>10:15<span>—11:53</span></p>
              <p>【予告なし】【上映後舞台挨拶】登壇者：加藤よしひろ(加藤姉妹父親)</p>
            </div>
          </article>
        </a></li>
        <li><a href="">
          <article>
            <h1>マガディーラ 勇者転生</h1>
            <div>
              <p>10:15<span>—11:53</span></p>
              <p>【サービスデー】</p>
            </div>
            <div>
              <p>10:15<span>—11:53</span></p>
              <p>【サービスデー】</p>
              <p>当日窓口</p>
            </div>
            <div>
              <p>10:15<span>—11:53</span></p>
              <p>【サービスデー】</p>
              <p><a href="">購入する</a></p>
            </div>
          </article>
        </a></li>
      </ul>
    </div>
    <div>
      <p>09.01 <span>日</span></p>
      <ul>
        <li><a href="">
          <article>
            <h1>かみさまとのやくそく～あなたは親を選んで生まれてきた～</h1>
            <div>
              <p>10:15<span>—11:53</span></p>
              <p>【予告なし】【上映後舞台挨拶】登壇者：加藤よしひろ(加藤姉妹父親)</p>
              <p><a href="">購入する</a></p>
            </div>
          </article>
        </a></li>
        <li><a href="">
          <article>
            <h1>映画『聖なる呼吸：ヨガのルーツに出会う旅』DVD発売記念トーク＋ヨガ体験付き上映会（ゲスト：柳生直子先生）</h1>
            <div>
              <p>10:15<span>—11:53</span></p>
              <p>【ダイジェスト版上映】上映後特典映像上映+トーク＆アーサナミニレクチャーあり（ゲスト：柳生直子先生）</p>
              <p><a href="">購入する</a></p>
            </div>
          </article>
        </a></li>
        <li><a href="">
          <article>
            <h1>レディ・バード</h1>
            <div>
              <p>10:15<span>—11:53</span></p>
              <p>【予告なし】</p>
              <p><a href="">購入する</a></p>
            </div>
          </article>
        </a></li>
      </ul>
    </div>
    <a href="">今月のスケジュール</a>
  </section>




  <!-- 全サイト共通 -->
  <section>
    <h2>FOLLOW US</h2>
    <ul>
      <li><a href="">twitter</a></li>
      <li><a href="">facebook</a></li>
      <li><a href="">instagram</a></li>
      <li><a href="">youtube</a></li>
    </ul>
    <h2>SUBSCRIBE</h2>
    <a href="">メールマガジン登録</a>
  </section>

</div>

<%- include('partials/_footer.ejs'); %>
