<%- include('partials/_head_shibuya.ejs'); %>
<%- include('partials/_head_sub_gallery.ejs'); %>

<div class="l-wrap">
  <section class="l-archive">
    <%- include('partials/_archive.ejs',{len: 12}); %>
  </section>
</div>

<%- include('partials/_footer.ejs'); %>
