<html>
<head>
  <meta charset="UTF-8">
  <meta name="author" content="著者情報">
  <meta name="description" content="記事の概要">
  <meta name="format-detection" content="telephone=no,address=no,email=no">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@twitter">
  <meta property="fb:app_id" content="00000000000">
  <meta property="og:description" content="記事の概要">
  <meta property="og:title" content="UPLINK">
  <meta property="og:url" content="http://www.uplink.co.jp/">
  <meta property="og:image" content="http://www.uplink.co.jp/img/ogp.png">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="UPLINK">

  <link rel="icon" href="./img/icon/favicon.ico">
  <link rel="apple-touch-icon" href="./img/icon/icon.png">
  <link rel="alternate" type="application/rss+xml" href="http://example.com/feed">
  <link rel="stylesheet" href="./css/style.min.css">

  <title>UPLINK</title>

  <style>
  .l-wrap {
    padding: 30px 15px;
  }
  h1,
  h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
  }
  h1 {
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
  }
  table {
    width: 100%;
    text-align: left;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
  }
  table tr th,
  table tr td {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    padding: 5px 10px;
  }
  table tr th {
    background: #000;
    color: #fff;
    font-weight: bold;
  }
  a {
    color: #000;
    text-decoration: underline;
  }
  </style>

</head>
<body>

<div class="l-wrap">
  <h1>UPLINK.CO.JP</h1>
  <h2>INDEX</h2>
  <table>
    <tr>
      <th>ページ名</th>
      <th>デザインFIX</th>
      <th>コーディングFIX</th>
    </tr>
    <tr>
      <td><a href="00_index.html" target="_blank">総合トップ</a></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="00_index_shibuya.html" target="_blank">渋谷トップ</a></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="00_index_joji.html" target="_blank">吉祥寺トップ</a></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>

<%- include('partials/_footer.ejs'); %>
