/*film*/
/*#maincontents .film.list*/
#container.film.films.list #maincontents section.posts header.contents-title h1 {
	font-size:20px;
}
#container.film.list #maincontents section.posts header.contents-title p {
	font-size:12px;
	margin:10px 0;
}
#container.film.films.list #maincontents section.posts article.post header {
	width:70%;
}
#container.film.films.list #maincontents section.posts article.post header h2 {
	font-size:16px;
}
#container.film.films.list #maincontents section.posts article.post header p {
	font-size:12px;
}
#container.film.films.list #maincontents section.posts article.post figure {
	width:28%;
	height:63px;
}
#container.film.films.list #maincontents section.posts article.post figure img {
	width:100%;
	height:auto;
}
#container.film.films.individual #maincontents article.post figure figcaption {
	font-size:10px;
}
#container.film.films.list #maincontents section.posts article.post p {
	font-size:14px;
}

/*#maincontents .films.individua*/
#container.film.films.individual #maincontents article.post {
	margin:0 0 20px 0;
}
#container.film.films.individual #maincontents article.post header {
	padding: 0 10px 15px;
}
#container.film.films.individual #maincontents article.post header h1 {
	font-size:20px;
}
#container.film.films.individual #maincontents article.post figure img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
#container.film.films.individual #maincontents article.post figure p {
	font-size:12px;
}
#container.film.films.individual #maincontents section {
	font-size:14px;
}
#container.film.films.individual #maincontents section.data dl dt{
	float:none;
	clear:both;
	margin:0 0 0 0;
	width: auto;
	color:#666;
	font-size:14px;
}
#container.film.films.individual #maincontents section.data dl dd{
	float:none;
	margin:0 0 10px 0;
	padding:0 0 0 0;
	width: auto;
	border-left:none;
	font-size:14px;
}
#container.film.films.individual #maincontents section.body {
	padding:30px 15px;
}
#container.film.films.individual #maincontents section.body h2 {
	font-size:18px;
}
#container.film.films.individual #maincontents section.body h3 {
	font-size:16px;
}
#container.film.films.individual #maincontents section.body div.enclosure {
	padding:10px;
	margin:0 0 20px 0;
}
#container.film.films.individual #maincontents section.body span.small {
	font-size:12px;
}
#container.film.films.individual #maincontents section.body iframe {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
#container.film.films.individual #maincontents aside.widget {
	display:none;
}


/*rental*/
#container.rental.film.list #maincontents section.posts header.contents-title h1 {
	font-size:20px;
}
#container.rental.film.list #maincontents section.posts header.contents-title h2 small {
	display:block;
}
#container.rental.film.list #maincontents section.posts article.post p {
	font-size:12px;
	margin:0 0 10px 0;
}
#container.film.films.list #maincontents section.posts article.post ul li {
	font-size:12px;
}

#container.film.rental.list #maincontents section.posts ul.rentalmenu li {
	font-size:14px;
	line-height:40px;
	padding:0;
	margin:0 0 5px;
	width:100%;
	text-align:center;
	border-radius: 5px;		/* CSS3草案 */
	-webkit-border-radius: 5px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 5px;	/* Firefox用 */
}
#container.film.rental.list #maincontents section.posts ul.rentalmenu li.contact,
#container.film.rental.list #maincontents section.posts ul.rentalmenu li.report,
#container.film.rental.list #maincontents section.posts ul.rentalmenu li.faq {
	font-size:14px;
	margin:0 0 5px;
	width:100%;
}

#container.rental.film.list #maincontents section.posts header.contents-title h1 {
	font-size:20px;
}
#container.rental.film.list #maincontents section.posts header.contents-title p {
	font-size:12px;
	margin:10px 0;
}
#container.rental.film.list #maincontents section.posts article.post header {
	width:70%;
}
#container.rental.film.list #maincontents section.posts article.post header.noimg {
	width:100%;
}

#container.rental.film.list #maincontents section.posts article.post header h2 {
	font-size:16px;
}
#container.rental.film.list #maincontents section.posts article.post header p {
	font-size:12px;
}
#container.rental.film.list #maincontents section.posts article.post figure {
	width:28%;
	height:63px;
}
#container.rental.film.list #maincontents section.posts article.post figure img {
	width:100%;
	height:auto;
}
#container.rental.film.list #maincontents .banner {
	text-align:center;
	margin:0 0 20px 0;
}
#container.rental.film.list #maincontents .banner img {
	width:90%;
	height:auto;
	text-align:center;
}



/*rental r-individual*/
#container.rental.film.r-individual #maincontents article.post {
	margin:0 0 50px 0;
}
#container.rental.film.r-individual #maincontents article.post header {
	margin:0 10px;
	padding:0 0 5px 0;
	border-bottom:#ccc solid 1px;
}
#container.rental.film.r-individual #maincontents article.post header h1 {
	font-size:22px;
}
#container.rental.film.r-individual #maincontents section {
	padding:15px 10px;
	font-size:14px;
}
#container.rental.film.r-individual #maincontents section p {
	margin:0 0 15px 0;
}
#container.rental.film.r-individual #maincontents section.body {
	padding:15px 10px;  
}
#container.rental.film.r-individual #maincontents section.body h2 {
	font-size:20px;
	margin:0 0 5px 0;
}
#container.rental.film.r-individual #maincontents section.body ol {
	margin:0 10px 15px 10px;
	padding:0 25px;
}
#container.rental.film.r-individual #maincontents section.body section.contents {
	margin:45px 0;
	padding:0 0 0 0;
}
#container.rental.film.r-individual #maincontents section.body section.contents section.content {
	margin:0 10px 50px 10px;
}
#container.rental.film.r-individual #maincontents section.body section.contents section.content .notes {
	color:#900;
}
#container.rental.film.r-individual #maincontents section.body section.contents section.content section {
	margin:0 10px 25px 10px;
}
#container.rental.film.r-individual #maincontents section.body section.contents section.content h3 {
	font-size:16px;
	margin: 0 0 10px;
}
#container.rental.film.r-individual #maincontents section.body section.contents h4 {
	font-size:16px;
	margin:0 0 5px 0;
}
#container.rental.film.r-individual #maincontents section.body section.contents section.content ul li {
	background: url(../img/icon_c.gif) no-repeat 0 7px;
	font-size: 12px;
	margin:0 0 5px 0;
}

#container.film.films.list #maincontents section.posts img {
    height: auto;
    max-width: 100%;
}

/*rental news*/
#container.film.films.list #maincontents section.posts.news article.post {
	margin:0 0 10px 0;
	padding:0 0 10px 0;
	border-bottom:#ccc solid 1px;
}
#container.film.films.list #maincontents section.posts.news article.post header {
	float:left;
	width:440px;
}
#container.film.films.list #maincontents section.posts.news article.post header.noimg {
	margin-bottom:0;
	float:none;
	width:auto;
}
#container.film.films.list #maincontents section.posts.news article.post header h2 {
	font-weight:normal;
	font-size:18px;
}
#container.film.films.list #maincontents section.posts.news article.post header h2 a {
	text-decoration:underline;
	color:#267499;
}
#container.film.films.list #maincontents section.posts.news article.post header h2 a:hover {
	text-decoration:none;
}
#container.film.films.list #maincontents section.posts.news article.post header time {
	margin:0 0 5px 0;
	
}
#container.film.films.list #maincontents section.posts.news article.post figure {
	float:right;
	width:200px;
	height:140px;
}
#container.film.films.list #maincontents section.posts.news article.post p {
	margin:0 0 25px 0;
	font-size:16px;
}
#container.film.films.list #maincontents section.posts.news footer {
	text-align:right;
	font-size:16px;
}
#container.film.films.list #maincontents section.posts.news footer a {
	color:#333;
}

table.simple th {
	font-size:14px;
}
table.simple td {
	font-size:14px;
}
table.simple td.pdf p {
	background: none;
	margin:0 0 0 0 !important;
	padding:0 0 0 0;
	height: auto;
	line-height: 1.6;
}
table.simple td.word p {
	background: none;
	margin:0 0 0 0 !important;
	padding:0 0 0 0;
	height: auto;
	line-height: 1.6;
}
table.cautions {
	margin:0 0 20px 0;
    border: none;
    width: 100%;
}
table.cautions {
	margin:0 0 20px 0;
    border: none;
    width: 100%;
}
table.cautions th {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #3399CC;
    padding: 5px 5px;
    text-align: center;
	vertical-align: middle;
	border: none;
	color:#FFF;
	width:25px;
	font-weight:normal;
	font-size:12px;
}
table.cautions td {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    padding: 0 5px;
    text-align: left;
	border: none;
}


iframe{
    width: 100%;
}